*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.info{
    display: flex;
    justify-content: space-around;
}
.quadrado{
    position: absolute;
    margin-top: 5px;
    display: flex;
   
}
#q1 {
    top: 20;
    left:100px;
    background-color: #f00;
    width: 150px;
    height: 150px;
}
#q2 {
    top: 160px;
    left: 300px;
    background-color: #00f;
    width: 100px;
    height: 150px;
}
