body {
    background-color: skyblue;
    padding: 0px;
    margin: 0px;
    width: 100%;
    transition: 1s;
}

header {
    display: flex;
    background-color: rgb(82, 82, 231);
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}

header > a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: rgba(194, 194, 194, 0.192);
    color: blue;
    transition: 600ms;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

main {
    height: 849px;
    display: flex;
    color: rgb(53, 95, 184);
    font-size: 1.5em;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#btn {
    background-color: blue;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    border: 2px solid rgb(0, 0, 0);
    transition: 500ms;
    box-shadow: 3px 3px 5px black;
}

/* Modo escuro */

.noturno {
    background-color: rgb(0, 0, 0);
    color: orange;
}

body.noturno > header {
    background-color: rgb(255, 136, 0);
    
}

body.noturno a:hover {
    background-color: rgba(194, 194, 194, 0.055);
    color: rgb(0, 1, 7);
    transition: 600ms;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

body.noturno > main > p {
    color: white;
}

body.noturno > main > #btn {
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

body.noturno > main > button:hover {
    border: 2px solid rgb(156, 156, 156);
    transition: 500ms;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.329);
}